{% extends 'base.html' %}<!-- login.html -->
<!-- Pills navs -->
{% block content %}
<!-- Section: Design Block -->
{% block extra_css %}
<style>
.form-signin {
    max-width: 330px;
    padding: 15px;
  }

  .form-signin .form-floating:focus-within {
    z-index: 2;
  }

  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
    .rounded-t-5 {
      border-top-left-radius: 0.5rem;
      border-top-right-radius: 0.5rem;
    }

    @media (min-width: 992px) {
      .rounded-tr-lg-0 {
        border-top-right-radius: 0;
      }

      .rounded-bl-lg-5 {
        border-bottom-left-radius: 0.5rem;
      }
    }
  </style>
  {% endblock %}
  <div class="card mb-3">
    <div class="row g-0 d-flex align-items-center">
      <div class="col-lg-4 d-none d-lg-flex">
        <img src="https://mdbootstrap.com/img/new/ecommerce/vertical/004.jpg" alt="Trendy Pants and Shoes"
          class="w-100 rounded-t-5 rounded-tr-lg-0 rounded-bl-lg-5" />
      </div>
      <div class="col-lg-8">
        <div class="card-body py-5 px-md-5">

          <form class="form-signin w-100 m-auto" method="POST"
          action="{% url 'bettergtm_backend:login' %}">
          {% csrf_token %}

          <h1 class="h3 mb-3 fw-normal">Sign in to BetterGTM</h1>
          <div class='form-group'>
              {{ form.username }}
            </div>
            <div class='form-group'>
              {{ form.password }}
            </div>
          <div class="checkbox mb-3">
            <label>
              <input type="checkbox" value="remember-me"> Remember me
            </label>
          </div>
          <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
          <p class="mt-5 mb-3 text-body-secondary">   </p>
        </form>

        </div>
      </div>
    </div>
  </div>
</section>
<!-- Section: Design Block -->
<!-- Pills content -->
{% endblock %}