{% extends 'base.html' %}
{% block content %}
<div class='row'>
  <div class='col'>
<h1 class="h3 mb-3 fw-normal">Goals</h1>
  </div>
  <div class='col'>
    <a href="{% url 'bettergtm_backend:create_goal' %}" class="btn btn-primary">Add Goal</a>
  </div>
</div>
<div class='table-responsive'>
  <table class="table table-striped mx-auto">
    <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope='col'>Target Value</th>
      <th scope="col">Actual Value</th>
      <th scope="col">Type</th>
    </tr>
    </thead>
    <tbody>
      {% for g in goals %}
    <tr>
      <td><a href="{% url 'bettergtm_backend:goal_detail' g.id %}">{{ g.name }}</a></td>
      <td>{{ g.description }}</td>
      <td>{{ g.goal_value }}</td>
      <td>{{ g.actual_value }}</td>
      <td>{{ g.goal_type }}</td>
    </tr>
    {% endfor %}
  </tbody>
  </table>
</div>


{% endblock %}